<!DOCTYPE html> 
<html lang = "en">
  
<head> 
    <meta charset = "UTF-8">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h3> hello user </h3>

    <div class="login-box">
        <button class ="login-button"> Login</button>
        <form>
        <button class ="signin-button"> Sign In</button>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
          </div>
          <div class="password-box">
            <input type="password" name="" required="">
            <label>Password</label>
          </div>
        </form>
      </div>






